<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Contoh ng-model pada input field</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="myController">

  <h1>Contoh ng-model pada input field</h1>

  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="user.username">
      <br>
      <br>
    <label for="age">Age:</label>
    <input type="number" id="age" ng-model="user.age">
  </form>

  <hr>

  <h2>Hasil:</h2>

  <p>Username: {{user.username}}</p>
  <p>Age: {{user.age}}</p>

  <script>
    angular.module('myApp', [])
      .controller('myController', function($scope) {
        $scope.user = {
          username: '',
          age: ''
        };
      });
  </script>

</body>
</html>
