<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <title>Belajar Vuejs</title>
</head>
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<link rel="stylesheet" href="style.css">
<body>
  <div id='app'>
          <button  v-on:click="error=!error">pesan error</button>
          <!-- jika nilai error="false"maka ketika diklik akan bernilai  true-->
          <button v-on:click="sukses=!sukses">pesan sukses</button> 
             <!-- jika nilai sukses="true"maka ketika diklik akan bernilai  false-->
          <p v-if="error">pesan ini muncul jika  error</p>
          
          <p v-if="sukses">pesan ini muncul jika  sukses</p>

          <p v-show="error">pesan yang muncul dari v-show error</p>
          <p v-show="sukses">pesan yang muncul dari v-show sukses</p>
           <br>
           <br>
           <h2><b>Contoh If-else2</b></h2>
           <p>data yg tersedia:{{type}}</p>
          <div v-if="type === 'A'">
            A
          </div>
          <div v-else-if="type === 'B'">
            B
          </div>
          <div v-else-if="type === 'C'">
            C
          </div>
          <div v-else>
            Not A/B/C
          </div>        
          </div>          
        </div>
    </body>
</html>
<script>
    new Vue({
        el:'#app',
        data:{
            error:false,
            //ketika diklik akan berubah menjadi nilai menjadi true
            sukses: true,   
            //pesan sukses otomatis muncul karena bernilai true
            type:'X',
        },
        methods:{
        },
        computed:{
  
        }
    }); 
</script>

</body>
</html>
