<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <title>Belajar Vuejs</title>
</head>
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<body>
    <div id="app">
   <p>my name is:{{nama}}</p>
   <p>hero yg pengen saya kuasain:</p>
   <ul>
             <li v-for="hero in heroes">{{hero}}</li>
          </ul>

          <ul>
              <li v-for="detail in details">{{detail}}</li>
           </ul>
           
           <ul>
              <li v-for="(detail, index) in details">{{index+1}}. {{detail.nama}} dengan role {{detail.role}}</li>
           </ul>
    
    
     
           
    
   
</div>
    <script>
    new Vue({
        el:'#app',
        data:{
          nama :'Stevanus',
          heroes :['Lance', 'Fanny', 'Ling'],
          details        :[
                          {nama:'Ling', role:'Assasin'},
                          {nama:'Fanny',role:'Assasin'},
                          {nama:'Lance',role:'Assasin'},
          ]
        },
        methods:{
        },
        computed:{
        }
    }); 
</script>
</body>
</html>
