<!DOCTYPE html>
<html lang="in">
<head>
    <meta charset="UTF-8">
    <title>Belajar Vuejs</title>
</head>
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<body>
    <div id="app"> 
        <input v-model='nama' placeholder="masukkan nama"v-on:keyup='kliknama()'typee="text"/>
        <span>{{nama}}</span>
        <input v-model='alamat' placeholder="masukkan alamat"v-on:keyup.enter='klikalamat()'typee="text"/>
        <span>{{alamat}}</span>
    <script>
    var app = new Vue({
el: '#app',
data: {
nama : '',
alamat:'',
},

methods: {
kliknama:function(params){

console.log('anda telah menginput nama');
},
klikalamat:function(params){
  console.log('anda telah menginput alamat');
}
}




})
</script>
</body>


</body>
</html>


